#root, html, body {
    height: 100vh;
    fontFamily: "Ubuntu";
    fontWeight: 500;
    fontStyle: 'normal';
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}